<h1>Welcome to PantryEating.com, <%= @user.username %></h1>
  <p>
    You have successfully signed up to PantryEating.com.<br>
  </p>
<p>Thanks for joining and have a great day!</p><br><br>
<p>This is not a monitored email account. All questions or responses should be directed to Scott Gloyna. Contact information can be found on pantryeating.com/about</p>